nav {
  background-color: #ce1257;
  width: 100dvw;
  /* margin: 0;
  top: 0; */
}

a {
  display: flex;
  text-decoration: none;
  color: white;
  /* margin: 1ch; */
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 1ch;
  margin: 0;
}

a:hover {
  font-size: larger;
  text-shadow: 1px 1px rgb(97, 95, 92);
  border: solid 2px antiquewhite;
}

@media (width >=600px) {
  nav {
    display: flex;
    justify-content: flex-end;
    background-color: #ce1257;
    height: 5ch;
    align-items: center;
    width: 100dvw;
  }
}

/* body {
  color: #218380;
  margin-right: 2ch;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: bold;
} */

body {
  color: #218380;
  margin-right: 2ch;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  text-align: center;
  /* top: 0; */
}

#whoAmI {
  text-align: right;
  font-size: 4dvw;
  margin: 0 0ch 0 5dvw;
  background-color: #ce1257;
  color: white;
  padding: 2ch 1ch;
  max-width: 15rem;
}

#gallup {
  /* padding: 1ch 1ch 1ch 1ch; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1ch 1ch 0.5ch 1ch;
  font-size: 3dvw;
}

#mission {
  border-top: dotted 10px #ce1257;
  margin: 1ch 0 0 0;
  font-size: 3.5dvw;
  padding: 2ch 2ch 0 2ch;
}

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  border-top: dotted 10px #ce1257;
  /* padding: 0ch 0 3ch 0; */
  margin: 3ch 2ch 0 2ch;
  flex-direction: column;
}

#bio {
  display: flex;
  text-align: center;
  justify-content: center;
  border-top: dotted 10px #ce1257;
  padding: 2ch 0 3ch 0;
  margin: 2ch 2ch 1ch 2ch;
  font-size: 3.5dvw;

  /* border-top: dotted 10px #ce1257;
  padding: 1ch 0 3ch 0;
  margin: 1ch 2ch 1ch 2ch; */
}

#card {
  display: flex;
  max-width: 90%;
  justify-content: center;
}

img {
  max-width: 50%;
}

h1 {
  font-size: 9dvw;
  color: #218380;
  padding: 0.5ch 0 0.5ch 0;
  border-bottom: dotted 10px #ce1257;
  margin: 0ch 1ch 0.75ch 1ch;
}
